body {
    background-color: #F6F4E8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1D3124;
    padding-left:10%;
    padding-right:10%;
    align-content: center;
}
.nav > ul {
    list-style-type: none;
    font-size: 6pt;
    max-width: 750px;
    padding: 10px;
    overflow: hidden;
}
.nav > ul > li {
    float: left;
    display: block;
    text-align: center;
    padding:10px;
    font-size:7pt;
    border-radius: 5px;
}
.gridPosition {
    display:grid;
    gap:10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat (12, 1fr);
}
.intro {
    grid-column: 1 / span 9;
}
.sidebar {
    padding: 10px;
    font-size:12pt;
    grid-column: 10 / span 3;
    grid-row: 1 / span 3;
}
.sidebar > h4 {
    font-size: 12pt;
    color: #F6F4E8;
}
.sidebar > ul > a {
    font-size: 8pt;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: #F6F4E8;
    font-weight: 800;
}
.sidebar, .nav {
    border-radius: 5px;
    background-color: #1D3124;
}
